<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tree view home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/all-items" expand="block">
          All Items
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/with-navigation" expand="block">
          With navigation
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
